<% include ../partials/boilerplate %>

<form method='POST' action='/quotes'>
  <input name='content' type='text' placeholder='Quote' />
  <input name='author' type='text' placeholder='Author' />
  <!-- <input name='genre_id' type='text' placeholder='Genre' /> -->
<label for='genre_type'> Genre
        <select name='genre_type' type='text'>
          <option value='motivational'>motivational</option>
          <option value='comedy'>comedy</option>
          <option value='philosophical'>philosophical</option>
          <option value='education'>education</option>
          <option value='design'>design</option>
          <option value='literary'>literary</option>
          <option value='poetry'>poetry</option>
          <option value="gonzo">gonzo</option>
          <option value="misc">misc</option>
        </select>
      </label></br>

  <input type='submit' value='Add it!' />
</form>

<% include ../partials/footer %>
